@font-face {
  font-family: 'Unbounded-ExtraLight';
  src: url('/src/assets/fonts/Unbounded-ExtraLight.woff');
}

@font-face {
  font-family: 'Unbounded-Light';
  src: url('/src/assets/fonts/Unbounded-Light.woff');
}

@font-face {
  font-family: 'Unbounded-Regular';
  src: url('/src/assets/fonts/Unbounded-Regular.woff');
}

@font-face {
  font-family: 'Unbounded-Medium';
  src: url('/src/assets/fonts/Unbounded-Medium.woff');
}

@font-face {
  font-family: 'YapariTrial-Regular';
  src: url('/src/assets/fonts/YapariTrial-Regular.woff');
}

@font-face {
  font-family: 'YapariTrial-Medium';
  src: url('/src/assets/fonts/YapariTrial-Medium.woff');
}

@font-face {
  font-family: 'YapariTrial-SemiBold';
  src: url('/src/assets/fonts/YapariTrial-SemiBold.woff');
}

@font-face {
  font-family: 'YapariTrial-Light';
  src: url('/src/assets/fonts/YapariTrial-Light.woff');
}

:root {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;

  color-scheme: light dark;
  color: rgba(255, 255, 255);
  background-color: #080808;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1400px; 
}

.hidden {
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
}